* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    top: 200px;
    left: 750px;
}

body input {
    padding: 30px 24px 30px 20px;
    font-size: 28px;
    border-radius: 4px;
}

.inputBox input {
    font-weight: 800;
}

.inputBox span {
    position: absolute;
    left: 12px;
    top: 17px;
    padding: 8px;
    transition: 0.5s;
    font-size: 28px;
    pointer-events: none;
    background-color: white;
}

.inputBox input:focus ~ span{
    transform: translateY(-40px);
    font-size: 22px;
}